[submodule "submodules/LFR-Benchmark_UndirWeightOvp"]
	path = submodules/LFR-Benchmark_UndirWeightOvp
	url = https://github.com/eXascaleInfolab/LFR-Benchmark_UndirWeightOvp
[submodule "submodules/ppSCAN"]
	path = submodules/ppSCAN
	url = https://github.com/lizhen0909/ppSCAN.git
[submodule "submodules/graph-streaming"]
	path = submodules/graph-streaming
	url = https://github.com/ahollocou/graph-streaming
[submodule "submodules/CGGC"]
	path = submodules/CGGC
	url = https://github.com/eXascaleInfolab/CGGC
[submodule "submodules/distributed_clustering_thrill"]
	path = submodules/distributed_clustering_thrill
	url = https://github.com/lizhen0909/distributed_clustering_thrill
[submodule "submodules/RelaxMap"]
	path = submodules/RelaxMap
	url = https://github.com/Lizhen0909/RelaxMap
[submodule "submodules/PowerGraph"]
	path = submodules/PowerGraph
	url = https://github.com/Lizhen0909/PowerGraph
[submodule "submodules/GenConvNMI"]
	path = submodules/GenConvNMI
	url = https://github.com/eXascaleInfolab/GenConvNMI
[submodule "submodules/OvpNMI"]
	path = submodules/OvpNMI
	url = https://github.com/eXascaleInfolab/OvpNMI
[submodule "submodules/xmeasures"]
	path = submodules/xmeasures
	url = https://github.com/eXascaleInfolab/xmeasures
[submodule "submodules/hirecs"]
	path = submodules/hirecs
	url = https://github.com/eXascaleInfolab/hirecs
[submodule "submodules/paris"]
	path = submodules/paris
	url = https://github.com/tbonald/paris.git
[submodule "submodules/lcelib"]
	path = submodules/lcelib
	url = https://github.com/CxAalto/lcelib
[submodule "submodules/CommunityDetectionCodes"]
	path = submodules/CommunityDetectionCodes
	url = https://github.com/Lizhen0909/CommunityDetectionCodes.git
[submodule "submodules/graph-cluster"]
	path = submodules/graph-cluster
	url = https://github.com/twanvl/graph-cluster.git
