a.out
*.o
oslom_undir
oslom_dir 
pajek_write_undir 
pajek_write_dir 
infomap_dir_script 
infomap_dir 
infomap_undir_script 
infomap_undir 
louvain_script 	
community 
convert 
hierarchy
pr_consensus
modopt
pr_consensus
infohiermap_dir_script
infohiermap_dir
infohiermap_undir_script
infohiermap_undir
